<script type="text/javascript">
  window.images = {
    logo: "<%= image_url('logo.png') %>",
    splash: "<%= image_url('splash.png') %>",
    login: "<%= image_url('login.png') %>",
    error: "<%= image_url('error.jpg') %>"
  }
</script>

<div id="root"></div>