body {
  margin:0;
}

#logout-b {
  border: none;
}

#logout-b p {
  padding: 0;
}

.personal-links {
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.home {
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  height: 45px;
  width: 75px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  border-color: lightgrey;
}

.home p {
  margin: 0;
  padding-top: 14px;
}

.home:hover {
  color: #21ce99;
}

.logout {
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  height: 45px;
  width: 75px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  border-color: lightgrey;
}

.logout p {
  margin: 0;
  padding-top: 14px;
}

.logout:hover {
  color: #21ce99;
}

.personal-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  height: 64px;
  background-color: white;
  border: none;
  z-index: -1;
  // box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.personal-navbar-left {
  display: flex;
  justify-content: center;
}

.personal-logo{
  margin-left: 30%;
  align-self: center;
}

.personal-logo:hover {
  color: #21CE99;
  fill: currentColor;
}

.personal-icons {
  display: flex;
  align-items: center;
}

.fas {
  color: black;
  font-size: 36px;
}

.fab {
  color: black;
  font-size: 36px;
}

.fab:before {
  margin-left: 10px;
}

.fab:hover {
  color: #21CE99;
}

.fas:hover {
  color: #21CE99;
}







// .searchbar-input {
//   height: 35px;
//   width: 475px;
//   border-radius: 4px;
//   border: 1px solid #f4f4f5;
//   padding-left: 45px;
//   font-weight: 400px;
//   font-size: 13px;
//   margin-bottom: 3%;
//   margin-left: 10%;
// }

// #searchbar-icon {
//   position: relative;
//   top: 29px;
//   left: 20px;
//   color: lightgrey;
//   margin-left: 10%;
// }

// .personal-searchbar:hover {
//   color: black;
//   background: white;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
//   cursor: text;
// }

// .searchbar-input:hover {
//   color: black;
//   background: white;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
//   cursor: text;
// }

// .searchbar-input:focus {
//   color: black;
//   outline: none;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
//   cursor: text;
// }
