body {
  margin:0;
}

.splash-bottom {
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: black;
  color: white;
}

.splash-bottom h1{
  font-size: 36px;
  letter-spacing: -.75px;
  font-weight: 600;
}

.splash-bottom h4 {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -.5px;
  font-weight: 100;
}

.disclosure {
  display: flex;
  align-items: center;
  justify-content: center;
}


.splash-bottom h5 {
  align-self: center;
  font-size: 13px;
  font-style: italic;
  cursor: pointer;
}

.disclosure i {
  font-size: 20px;
  padding-right: 3px;
  cursor: pointer;
  color: white;
}

.splash-top {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  // height: 100vh;
  background-color: #21ce99;
  padding-top: 2%;
  padding-bottom: 2%;
}

.splash-text {
  padding-right: 1%;
  padding-bottom: 5%;
}

.splash-text h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 75px;
  letter-spacing: -1px;
}

.splash-text p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 40px;
  line-height: 35px;
}

.splash img {
  height: 500px;
  width: auto;
}

.splash-signup {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background: black;
  height: 55px;
  width: 165px;
  text-decoration: none;
}

.splash-signup p {
  margin-top: 6%;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.splash-signup:hover {
  background-color: rgba(48, 51, 51, 0.09);
}
