.company h1 {
  font-size: 26px;
  font-family: sans-serif;
  padding-bottom: 16px;
  border-bottom: 1px solid #f4f4f5;
  width: 680px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 24px;
  width: 570px;
  line-height: 19px;
  margin-bottom: 20px;
}

.facts {
  width: 680px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: sans-serif;
}

.first-row-titles {
  display: flex;
  align-content: flex-start;
  width: 600px;
  justify-content: space-between;
  font-family: sans-serif;
}
.first-row-titles p:first-of-type {
  color: #21ce99;
}
  
.second-row-titles {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 50px;
  font-family: sans-serif;
}
