.transactions-table {
  width: 285px;
  font-family: sans-serif;
  border: solid 1px #f4f4f5;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
}

.transactions-header {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.5px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid #f4f4f5;
  height: 25px;
  font-family: sans-serif;
  h3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.5px;
    font-family: sans-serif;
    width: 100%;
    a {
      padding: 15px 5px;
      cursor: pointer;
    }
    .active {
      color: #21ce99;
      border-bottom: 2px solid #21ce99;
    }
    a:hover {
      color: #21ce99;
    }
    border-bottom: 1px solid var(--border);
  }
  h4 {
    font-weight: 500;
    font-size: 13px;
  }
}

.content-shares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  // padding: 5% 10%;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -.5px;
  font-family: sans-serif;
}

.shares {
  width: 25%;
  height: 30px;
  border-radius: 4px;
  background: rgb(247, 247, 247);
  border: none;
  text-align: right;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -.5px;
  font-family: sans-serif;
  padding-right: 2%;
}

.content-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -.5px;
  font-family: sans-serif;
  // padding: 5% 10%;
  padding-top: 5%;
  padding-right: 11.5%;
  padding-bottom: 5%;
  padding-left: 10%;
  border-bottom: 1px solid #f4f4f5;
}

.content-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: -.5px;
  font-family: sans-serif;
  // padding: 5% 10%;
  padding-top: 5%;
  padding-right: 11.5%;
  padding-bottom: 5%;
  padding-left: 10%;
}

.content-button {
  display: flex;
  border-bottom: 1px solid #f4f4f5;
  justify-content: center;
  padding: 5% 10%;
}

.submit {
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #21ce99;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 100%;
}

.submit:hover {
  cursor: pointer;
  background-color: #1ae9aa;
}

.content-limit {
  display: flex;
  align-items: center;
  justify-content: center;;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.5px;
  font-family: sans-serif;
  padding: 5% 0%;
  border-bottom: 1px solid #f4f4f5;
}

.content-errors ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10% 10%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.5px;
  font-family: sans-serif;
}

.content-errors ul li img {
  display: inline-block;
  height: 17px;
  width: auto;
  margin-right: 5px;
}

.input-share {
  border: none;
  background-color: #FAFAFA;
  text-align: right;
  width: 75px;
  height: 40px;
  border-radius: 8px;
}

.input-share:hover {
  border: solid 1px;
  border-color: lightgrey;
}

.input-share:focus {
  border: solid 1px;
  border-color: #21ce99;
  outline: none !important;
}
