.chart-details {
  height: 100px;
}

#stock-price  {
  font-size: 26;
  font-weight: 300;
  font-family: sans-serif;
}

#stock-price-flux {
  color: white;
}

.rechart {
  font-family: sans-serif;
  color: lightgrey;
  font-size: 15px;
}

.dateview {
  display: flex;
  border-bottom: 1px solid #f4f4f5;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  width: 680px;
  margin-bottom: 50px;
  padding-bottom: 16px;
}

.dateview a:first-child {
  color: #21ce99;
}

.dateview a {
  padding-right: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.dateview a:hover {
  text-decoration: underline;
  color: #21ce99;
}

.chart h1 {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: -0.29px;
  line-height: 42px;
}

// .company h1 {
//   font-size: 26px;
//   font-family: sans-serif;
//   padding-bottom: 16px;
//   border-bottom: 1px solid #f4f4f5;
//   width: 680px;
// }

// .description {
//   font-size: 16px;
//   font-family: sans-serif;
//   padding-top: 24px;
//   width: 570px;
//   line-height: 19px;
//   margin-bottom: 20px;
// }

// .facts {
//   width: 680px;
//   padding-top: 24px;
//   padding-bottom: 24px;
//   font-family: sans-serif;
// }

// .first-row-titles {
//   display: flex;
//   align-content: flex-start;
//   width: 600px;
//   justify-content: space-between;
//   font-family: sans-serif;
// }

// .second-row-titles {
//   display: flex;
//   width: 600px;
//   justify-content: space-between;
//   margin-bottom: 50px;
//   font-family: sans-serif;
// }
