.articles h1 {
  font-size: 26px;
  font-family: sans-serif;
  padding-bottom: 16px;
  border-bottom: 1px solid #f4f4f5;
  width: 680px;
  font-weight: 600;
}

.articles-list-item {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  // height: 195px;
  width: 680px;
  font-family: sans-serif;
  text-decoration: none;
}

.articles-list-item:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247); 
}

.articles-text {
  text-decoration: none;
  height: 100px;
  width: 485px;
  padding-left: 20px;
}

.articles-text h4 {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.articles-text h3 {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-bottom: 5px;
}

.articles-text p {
  text-decoration: none;
  color: grey;
  font-size: 13px;
  font-weight: 200;
}

.articles-image {
  width: 195px;
  height: 135px;
  overflow: hidden;
  // border-radius: 4px;
}

.articles img {
  width: 195px;
  height: auto;
}